# Dependencies
node_modules/

# Build outputs
dist/
lib/
coverage/

# Temporary Assets & Archives
public/file-viewer/
*.tgz
*.zip
storage/

# Environment & Logs
.env
*.log

# IDE & System
.DS_Store
Thumbs.db
.vscode/
.idea/
.trae
.mimosa

